# General
.DS_Store
.idea/
.atom/
.vscode/
*.swp
*.lock
*.log
*.tmp
*.tmp.*
log.txt
*.o
*.lo
*.la
link.xml
*.slo
*.lo
*.o
*.obj
project.lock.json
.project.json.user
*.pyc
*.pyo
*.rbc
*.sassc
.svn/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android related
**/android/app/google-services.json
**/android/app/debug.keystore
**/android/gradlew
**/android/gradle/wrapper/gradle-wrapper.jar
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew.bat
**/android/key.properties

# iOS related
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/.last_build_id
**/ios/.DS_Store
**/ios/Runner.xcworkspace
**/ios/Pods/
**/ios/Runner/GoogleService-Info.plist
**/ios/Runner.xcodeproj/project.xcworkspace
**/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m
**/ios/Runner/AppDelegate.swift
**/ios/Runner/Runner-Bridging-Header.h
**/ios/Podfile.lock
**/ios/.symlinks/
**/ios/Flutter/Debug.xcconfig
**/ios/Flutter/Release.xcconfig
**/ios/firebase_app_id_file.json

# MacOS related
**/macos/Pods/
**/macos/Podfile.lock
**/macos/.symlinks/
**/macos/Flutter/ephemeral/
**/macos/Flutter/.last_build_id
**/macos/flutter/ephemeral/
**/macos/Flutter/Flutter-Debug.xcconfig
**/macos/Flutter/Flutter-Release.xcconfig
**/macos/Runner.xcworkspace/xcshareddata/
**/macos/firebase_app_id_file.json

# Python specific
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
*.mo
*.pot
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
.scrapy
docs/_build/
target/
.ipynb_checkpoints
profile_default/
ipython_config.py
.python-version
#Pipfile.lock
__pypackages__/
celerybeat-schedule
celerybeat.pid
*.sage.py
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.spyderproject
.spyder-py3
.ropeproject
/site
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/

# Exceptions to above rules.
!/android/gradle/wrapper/gradle-wrapper.jar
!/**/lib/
!/**/pubspec.yaml
!/**/CHANGELOG.md
!/**/README.md
!/**/.gitignore
!/**/.metadata
!/ios/Flutter/ephemeral/.app_filename
!/packages/flutter_tools/examples/**/ios/Podfile
!/packages/flutter_tools/examples/**/Podfile
